<html>
<head>
    <meta charset="UTF-8">
    <title>Character Builder</title>
    <link rel="stylesheet" href="vendor/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main class="container">
        <div class="jumbotron">
            <h2>Character Builder <small>0.0.0</small></h2>
        </div>

        <!-- General Informatoin -->
        <div class="page-header">
            <h1>Luther Poe</h1>
        </div>
        <div class="grid">
            <p>
                <ul class="list-group col-sm-6">
                    <li class="list-group-item">Race <span class="badge">Human</span></li>
                    <li class="list-group-item">Background <span class="badge">Folk Hero</span></li>
                    <li class="list-group-item">Class <span class="badge">Fighter</span></li>
                    <li class="list-group-item">Alignment <span class="badge">Lawful Good</span></li>
                </ul>
                <ul class="list-group col-sm-6">
                    <li class="list-group-item">Level <span class="badge">3</span></li>
                    <li class="list-group-item">Experiences Points <span class="badge">1600</span></li>
                    <li class="list-group-item">Proficiency Bonus <span class="badge">+2</span></li>
                </ul>
                <ul class="list-group col-sm-6">
                    <li class="list-group-item">You judge people by their actions. You prefer action over thinking.</li>
                    <li class="list-group-item">No one is above the law.</li>
                    <li class="list-group-item">You will show your father that you were meant for more than labor</li>
                    <li class="list-group-item">You have trouble trusting your allies</li>
                </ul>
                <ul class="list-group col-sm-6">
                    <li class="list-group-item">Strength <span class="badge">16 / +3 / +5</span></li>
                    <li class="list-group-item">Dexterity <span class="badge">14 / +2 / +2</span></li>
                    <li class="list-group-item">Constitution <span class="badge">15 / +2 / +4</span></li>
                    <li class="list-group-item">Intelligence <span class="badge">8 / -1 / -1</span></li>
                    <li class="list-group-item">Wisdom <span class="badge">10 / 0 / 0</span></li>
                    <li class="list-group-item">Dexterity <span class="badge">12 / +1 / +1</span></li>
                </ul>
                <ul class="list-group col-sm-6">
                    <li class="list-group-item">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-success">Athletics <span class="badge">5</span></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-success">Acrobatics <span class="badge">4</span></li>
                            <li class="list-group-item">Sleight of Hand <span class="badge">2</span></li>
                            <li class="list-group-item">Stealth <span class="badge">2</span></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul class="list-group">
                            <li class="list-group-item">Arcana <span class="badge">-1</span></li>
                            <li class="list-group-item">History <span class="badge">-1</span></li>
                            <li class="list-group-item">Investigation <span class="badge">-1</span></li>
                            <li class="list-group-item">Nature <span class="badge">-1</span></li>
                            <li class="list-group-item">Religion <span class="badge">-1</span></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul class="list-group">
                            <li class="list-group-item">Animal Handling <span class="badge">0</span></li>
                            <li class="list-group-item">Insight <span class="badge">0</span></li>
                            <li class="list-group-item">Medicine <span class="badge">0</span></li>
                            <li class="list-group-item">Perception <span class="badge">0</span></li>
                            <li class="list-group-item list-group-item-success">Survival <span class="badge">2</span></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul class="list-group">
                            <li class="list-group-item">Deception <span class="badge">1</span></li>
                            <li class="list-group-item list-group-item-success">Intimidation <span class="badge">3</span></li>
                            <li class="list-group-item">Performance <span class="badge">1</span></li>
                            <li class="list-group-item">Persuasion <span class="badge">1</span></li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-group col-sm-6">
                    <li class="list-group-item">Max. Hit Points <span class="badge">28</span></li>
                    <li class="list-group-item">Curr. Hit Points <span class="badge">28</span></li>
                    <li class="list-group-item">Hit Dice <span class="badge">3d10</span></li>
                    <li class="list-group-item">Initiative <span class="badge">+2</span></li>
                    <li class="list-group-item">Speed <span class="badge">25</span></li>
                    <li class="list-group-item">Armor Class (AC) <span class="badge">19</span></li>
                    <li class="list-group-item">Superiority Die <span class="badge">4d8</span></li>
                </ul>
                <ul class="list-group col-sm-6">
                    <li class="list-group-item">Longsword <span class="label label-danger">5ft</span> <span class="label label-danger">Slashing</span> <span class="label-danger label">+5</span><span class="badge">1d8+3</span></li>
                    <li class="list-group-item">Longsword (2H) <span class="label label-danger">5ft</span> <span class="label label-danger">Slashing</span> <span class="label-danger label">+5</span><span class="badge">1d10+3</span></li>
                    <li class="list-group-item">Heavy Crossbow <span class="label label-danger">100/400</span> <span class="label label-danger">Piercing</span> <span class="label-danger label">+4</span><span class="badge">1d10+2</span></li>
                </ul>
                <ul class="list-group col-sm-6">
                    <li class="list-group-item"><strong>Folk Hero Feature:</strong> Commoners are willing to shelter you from some trouble</li>
                    <li class="list-group-item"><strong>Fighter Feature:</strong> Heal 1d10 + level hit points as a bonus action (one between rests)</li>
                    <li class="list-group-item"><strong>Fighter Feature: <em>Fighting Style: Defense</em></strong> +1 to AC while wearing armor</li>
                    <li class="list-group-item"><strong>Fighter Feature:</strong> Take an extra action once between rests</li>
                    <li class="list-group-item"><strong>Fighter Feature: <em>Fighter Archetype: Battle Master</em></strong> Gain four superiority Die (d8) to spend on s</li>
                    <li class="list-group-item"><strong>Fighter Feature:</strong> Proficiency with one set of artisan's tools</li>
                    <li class="list-group-item"><strong>Fighter Feature:</strong> Take an extra action once between rests</li>
                    <li class="list-group-item"><strong>Maneuver: <em>Command Ally</em></strong> You may have an ally make an attack with Superiority Die extra damage in place on one of your own attacks.</li>
                    <li class="list-group-item"><strong>Maneuver: <em>Precise Strike</em></strong> You can add Superiority Die to an attack roll</li>
                    <li class="list-group-item"><strong>Maneuver: <em>Riposte</em></strong> You can use a reaction when missed by a melee attack to make a melee attack back and deal Superiority Die extra damage</li>
                </ul>
                <ul class="list-group col-sm-6">
                    <li class="list-group-item">Armor Proficiencies <span class="badge">All Armor</span> <span class="badge">Shields</span></li>
                    <li class="list-group-item">Weapon Proficiencies <span class="badge">All Weapons</span></li>
                    <li class="list-group-item">Tool Proficiencies <span class="badge">Smith's Tools</span> <span class="badge">Land Vehicles</span> <span class="badge">Tinker's Tools</span></li>
                    <li class="list-group-item">Languages Known <span class="badge">Common</span> <span class="badge">Halfling</span></li>
                </ul>
                <ul class="list-group col-sm-6">
                    <li class="list-group-item">Weapons <span class="badge">Longsword</span> <span class="badge">Shield</span> <span class="badge">Heavy Crossbow</span> <span class="badge">20 Bolts</span></li>
                    <li class="list-group-item">
                        Explorer's Pack
                        <span class="badge">Backpack</span>
                        <span class="badge">Bedroll</span>
                        <span class="badge">Mess Kit</span>
                        <span class="badge">Tinder Box</span>
                        <span class="badge">10 Torches</span>
                        <span class="badge">10 Days of Rations</span>
                        <span class="badge">Waterskin</span>
                        <span class="badge">Rope, 50ft</span>
                    </li>
                    <li class="list-group-item">
                        Tools
                        <span class="badge">Smith's Tools</span>
                    </li>
                    <li class="list-group-item">
                        Healing
                        <span class="badge">Healing Potion</span>
                        <span class="badge">Healer's Kit, 7 Charges</span>
                    </li>
                    <li class="list-group-item">
                        Attire
                        <span class="badge">Common Clothes</span>
                        <span class="badge">Chain Mail</span>
                        <span class="badge">Belt Pouch</span>
                    </li>
                    <li class="list-group-item">
                        Misc
                        <span class="badge">Shovel</span>
                        <span class="badge">Iron Pot</span>
                    </li>
                    <li class="list-group-item">
                        Currency
                        <span class="badge">14</span>
                    </li>
                    <li class="list-group-item"></li>
                </ul>
                <ul class="list-group col-sm-6">
                    <li class="list-group-item">My father own's the Bastard's Claw weapons shop in some village</li>
                </ul>
            </p>
        </div>
    </main>

    <script src="vendor/jquery-2.2.0.min.js"></script>
    <script src="vendor/masonry.min.js"></script>
    <script src="script.js"></script>

    <script>

        $('.grid').masonry({
            itemSelector: '.grid > .list-group',
        });

    </script>
</body>
</html>